html {
  height: 100%;
  width: 100%;

}

body {
  font-family: Lato, Arial, sans-serif;
  font-size: 1em;
  color: #36454F;
}

header {
  width: 95%;
  margin-left: 25px;
  padding: 10px;
}

footer {
  padding: 25px;
}

section {
  float: left;
  width: 60%;
  margin-left: 1.5%;
  padding: 10px;
}

aside {
  float: right;
  width: 25%;
  margin: 1.5%;
  padding: 1.5%;
  border: solid #7393B3 2px;
}

h1 {
  font-size: 1.3em;
  color: #36454F;
}

h2 {
  font-size: 1.2em;
  color: #71797E;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
}

hr {
  border-top: 1px dotted cornflowerblue;
  clear: both;
}

figure {
  margin-left: 0px;
}

figcaption {
  font-style: italic;
  font-size: smaller;
  padding: 2px;
  text-align: left;
}

#menu {
  text-align: right;
  width: 100%;
}

.top {
  width: 100%;
  text-align: right;
}